<component name="ArtifactManager">
  <artifact type="war" name="SpringSecrityMethodLevel:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringSecrityAuthorize.war">
      <element id="artifact" artifact-name="SpringSecrityMethodLevel:war exploded" />
    </root>
  </artifact>
</component>